// font-family: 'Merriweather', serif;
// font-family: 'Poppins', sans-serif;df

// veriables
$light-blue: #2791cf;
$light-gray: #7E878c;
$dark-gray:#3f3f3f;
$white: #ffffff;

$font-text: 'Poppins', sans-serif;
$fsize:16px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif ;
    ::-webkit-scrollbar{
        display: none;
    }
}

.main{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    overflow: hidden;
    border-radius: 40px;

    

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px;
        background-color: #2791cf;
        height:100px;

        div.title{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            h1{
                font-family: 'Poppins', sans-serif;
                font-size:35px;
                color: $white;
            }
        }
        button{
            border: none;
            outline: none;
            background-color: transparent;
            color: white;
            margin-bottom: 5px;
            display: none;

            img{
                margin: -7px 0px;
            }
            
        }
    }
    
    div.container{
        background-color: $light-gray;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;

        div.user-window{
            background-color: $dark-gray;
            width: 400px;
            border-radius: 20px;
            padding: 15px 20px;
            color: $white;

            div.user-head{
                display: flex;
                flex-direction:row;
                justify-content:space-between;
                align-items: center;
                font-family: $font-text;
                font-size: 20px;
        
                h4{
                    background-color: $light-gray;
                    border-radius: 50px;
                    padding: 0px 8px;
                }
            }
            div.users-list p{
                font-size: 1.3rem;
                font-weight: 400;
                letter-spacing: 1.2px;
                margin: 5px;
            }

            }

        div.chat-window{
            width: 80%;
            margin-left: 20px;
            background-color: $dark-gray;
            border-radius: 20px;
            padding: 10px;

            div.chats{
                height: 65vh;
                overflow-y: auto;
                div.user-join{
                    font-size: 1.2rem;
                    background-color: #ffffff;
                    color: $dark-gray;
                    width: max-content;
                    padding: 5px 10px;
                    margin: 3px auto;
                    border-radius: 50px;

                }
                div.message{
                    max-width: 400px;
                    font-size: 1.2rem;
                    color: $dark-gray;
                    background-color: #ffffff;
                    border-radius:2px 25px 25px 16px;
                    margin: 15px 10px;
                    padding: 6px 15px;
                    text-align: justify;
                    word-wrap: break-word;
                    
                    h5,p{
                        font-size: 1.5rem;
                    }
                }
                div.outgoing{
                    margin-left: auto;
                    border-radius: 25px 2px 16px 25px;
                    background-color: #2791cf;
                    color: #ffffff;
                    padding-right: 25px;
                    word-wrap: break-word;
                    h5{
                        text-align: right;
                    }
                }
            }
            div.user-input{
                display: flex;
                flex-direction: row;
                align-items: stretch;
                width: 100%;

                input{
                    width: 100%;
                    border: none;
                    outline: none;
                    border-radius: 20px 20px 20px 20px;
                    padding: 15px 15px;
                    font-size: 1.5rem;
                }
                button{
                    border: none;
                    outline: none;
                    background-color: $dark-gray;

                    img{
                        width: 64px;
                        height: 64px;
                    }
                }
            }

        }
    }
    
}

@media screen and (max-width:900px ){
    .main{
        width: 95%;
        header{
            button{
                display: block;
                width: 64px;
                height: 64px;
            }
        }
    div.container{
        position: relative;
        div.user-window{
            top:0;
            left: 0;
            position: absolute;
            width: 100%;
            border-radius: 0px 0px 20px 20px;
            box-shadow: 0px 5px 15px -6px black;
            height: max-content;
            padding-bottom:0px ;
            z-index: 5;
            display: none;
        }
        div.chat-window{
            width: 95%;
            margin-left: 5px;
            div.chats {
                div.message{
                    max-width: 300px;
                }
            }
        }
    }
    }
    
}
@media screen and (max-width: 415px) {
    .user-input{
        input{
            height: 55px;
        }
        button{
            img{
            width: 55px;
            height: 55px;
        }
     }
    }
}